@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@keyframes backgroundChange {
  0% {
    background-color: #282c34;
  }
  25% {
    background-color: #3498db;
  }
  50% {
    background-color: #e74c3c;
  }
  75% {
    background-color: #f1c40f;
  }
  100% {
    background-color: #282c34;
  }
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  animation: backgroundChange 10s infinite;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.stopwatch {
  display: flex;
  font-size: 2em;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21a1f1;
}

button:active {
  background-color: #0d8ae5;
}
